header {
  background-color: #000000;
  color: white;
  height: 4rem;
  font-size: 50px;
  position: relative;
  right: 0rem;
  width: 100%;
}
.hovereffect:hover {
  color: rgb(43, 250, 188);
  border: #ff7a59 solid 1px;
  background: rgb(0, 0, 0);
}
section {
  border: 5px solid rgb(0, 0, 0);
  margin-top: 2%;
  text-align: center;
}
ul {
  text-align: left;
  
}
footer {

  position: fixed;
  bottom: 0px;
  background-color: black;
  font-size: 50px;
  right: 0rem;
  width: 100%;
  letter-spacing: 88px;
  
  
p
}