@import url(components/card.css);
@import url(components/header.css);
@import url(components/navbar.css);
:root {
  --primary-color: rgba(248, 150, 2, 0.961);
}
* {
  box-sizing: border-box;
}
main {
  padding: 100px 0;
}
